// This is where your styles can go, import any other scss or css files here or write your own style directly below

body,
body * {
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 30em;
  background-image: url(../images/picolé.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

h1{
  padding-top: 9em;
  text-align: center;
  color: rgb(104, 102, 102);
}

main{
  display: flex;
  align-items: center;
  flex-direction: column;
}

form{
  padding-top: 2em;
}
